<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-securiry">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/reset-css.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="/css/products.css" rel="stylesheet">

</head>

<body>

<header th:replace="fragments/commons :: navbar">Navbar</header>

<div class="title h1 text-center">All Indoor Plants</div>
<div th:object="${product}" class="container py-3">
    <!-- Card Start -->
    <div class="card">
        <div class="row ">

            <div class="col-md-7 px-3">
                <div class="card-block px-6">
                    <h4 th:text="*{name}" class="card-title">Horizontal Card with Carousel - Bootstrap 4 </h4>
                    <p th:text="|*{price}| + '$'"></p>
                    <p th:text="*{description}" class="card-text"></p>
                    <br>
                    <div>
                        <a th:href="${'/myCart/add/' + product.id}"
                           class="btn btn-lg btn-outline-info btn-outline-success">Add Cart</a>
                    </div>
                    <div sec:authorize="hasRole('ADMIN')" class="admin" >
                    <form th:method="delete">
                            <a th:href="@{'/products/delete/' + ${product.getId()}}" class="btn btn-lg btn-outline-info btn-outline-success">Delete</a>
                    </form>
                    </div>
                    <form>
                        <div sec:authorize="hasRole('ADMIN')" class="admin" >
                        <a th:href="@{'/products/edit/' + ${product.getId()}}" class="btn btn-lg btn-outline-info btn-outline-success">Edit</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block" th:src="*{imageUrl}" alt="">
                </div>
            </div>
        </div>
        <div class="card mb-3 text-dark"
             style="width: 65rem; margin: 2rem auto;">
            <h3 class="m-auto">Plant Care Tips</h3>
            <ul style="list-style-type: none" class="font-weight-bold">
                <li>
                    <div class="card-text"><span>• Light: <th:block th:text="*{light}"></th:block></span></div>
                </li>
                <li>
                    <div class="card-text"><span>• Water: <th:block th:text="*{water}"></th:block></span></div>
                </li>
                <li>
                    <div class="card-text"><span>• Soil: <th:block th:text="*{soil}"></th:block></span></div>
                </li>
                <li>
                    <div class="card-text"><span>• Pet Safely: <th:block th:text="*{petSafety}"></th:block></span></div>
                </li>

            </ul>
        </div>
    </div>
</div>

<div>
    <footer th:replace="fragments/commons :: footer"></footer>
</div>
<footer th:replace="fragments/commons :: footer"></footer>
</body>
</html>
