.display-1 {
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Nunito:wght@200&family=Poppins:wght@100;300;400;600&display=swap');
    font-family: 'Lora', serif;
    text-align: left;
    color: #FCF9CC;
    padding: 87px 121px;
    width: 73%;
    margin: 77px;
}

.float-end {
    padding: 47px -1px;
    width: 80%;
    height: 97%;
}



